{% extends 'base.html' %}

{% block head %}
<title>Order Tracker</title>
{% endblock %}

{% block body %}

<div class="content">
    <h1 style="text-align: center">Order Tracker</h1>

    <table style ="text-align: center">
        <tr>
            <th>ID</th>
            <th>Date Added</th>
            <th>Owner</th>
            <th>Item</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Status</th>
            <th>Archived</th>
            <th>Notes</th>
        </tr>
    </table>

    <div class="form">
        <form action="/" method="POST">
            <label for="owner">Owner</label><br>
            <input type="text" id="owner" name="owner">
        </form>

    </div>
</div>
{% endblock %}
